<app-observable-test [observableCall]="normalCall$" title="Normal call"></app-observable-test>

<app-observable-test [observableCall]="tapCall$" title="Tap"></app-observable-test>

<app-observable-test [observableCall]="mapCall$" title="Map"></app-observable-test>

<app-observable-test [observableCall]="concatCall$" title="concat"></app-observable-test>

<app-observable-test [observableCall]="concatMapCall$" title="concatMap"></app-observable-test>

<app-observable-test [observableCall]="mergeCall$" title="merge"></app-observable-test>

<app-observable-test [observableCall]="mergeMapCall$" title="mergeMap"></app-observable-test>

<app-observable-test [observableCall]="switchMapCall$" title="switchMap"></app-observable-test>

<app-observable-test [observableCall]="forkJoinCall$" title="forkJoin"></app-observable-test>
