<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <a (click)="changeContent(observableEnum)" *ngFor="let observableEnum of enumList"
         mat-list-item>
        {{ observableEnum }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-observable-test [observableCall]="currentObservable$" [observableEnum]="currentEnum"></app-observable-test>
    <!--    <div>-->
    <!--      <p *ngFor="let log of logService.getLogs() | async">{{log}}</p>-->
    <!--    </div>-->

    <ul *ngIf="callSequence">
      <li *ngFor="let myCall of callSequence">
        <span>{{ myCall.message }}</span>
        <mat-icon fontIcon="{{myCall.getStatusIcon()}}"></mat-icon>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
