:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & mat-toolbar {
    display: flex;
    gap: 1rem;
  }

  & .content {
    padding: 1rem;

    & p {
      white-space: pre-wrap
    }

    & pre.code {
      background-color: #f5f5f5;
      border-radius: 5px;
    }
  }
}
